<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Upload a photo!</title>
</head>
    <body>
        <div class="title">
            <h1>Upload a photo to Photoshare</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload">
                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required='true' /><br />
                <label for="caption">Please caption:</label>
                <input type="text" name="caption" required='true' /><br />
                <label for="album">Enter album name:</label>
                <input type="text" name="album" required='true' /><br />
                <label for="tags">Add a tag: </label>
                <input type="text" name="tags" required="false"/><br />
                <input type="submit" value="Upload" />
            </form>
    </body>
    <ul>
        <li><a href='/Adding_Friend'>Add a Friend</a></li>
        <li><a href='/friend_list'>See all your friends!</a></li>
        <li><a href='/Create_Album'>Create an Album!</li>
        <li><a href='/browse_albums'>Browse other users albums!</li>
        <li><a href='/view_photos'>view your photos!</li>
        <li><a href='/deletealbum'>Delete an album!</li>
        <li><a href='/deletephoto'>Delete a photo!</li>
        <li><a href="/Search_Pop_tags"> Search Tags!</a></li>
        <li><a href='/logout'>Logout</a></li>
        <li><a href='/'>Home</a></li>
        </ul>
        <ul>
        <ul>